@(data: Graph)(implicit assetsFinder: AssetsFinder)


<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="IGOR TITOV">
        <script src="@assetsFinder.path("javascripts/d3.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id = "graph" data = @{Graph.graphFormat.writes(data).toString()}></div>
        <div id = "svgcontainer" ></div>
        <script src="@assetsFinder.path("javascripts/graph.js")" type="text/javascript"></script>
    </body>
</html>